# --- CONFIGURATION SYSTÈME ---
NODE_ENV=development

# --- BASE DE DONNÉES (Prisma) ---
# Format : postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/suivi_chantier"

# --- SUPABASE (Authentification & Stockage) ---
# Récupérez ces valeurs dans les paramètres de votre projet Supabase (API)
NEXT_PUBLIC_SUPABASE_URL="https://votre-projet.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="votre_cle_anonyme"


SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_SECURE=true

# --- SÉCURITÉ & AUTOMATISATION ---
# Utilisé pour sécuriser les routes de synchronisation (API Meteo)
CRON_SECRET="choisissez_un_secret_aleatoire_long"
